/CadenasFracciones/build/
/CadenasFracciones/dist/
/interfaces/nbproject/private/
/Radix/nbproject/private/
/interfaces/build/
/formularios/nbproject/private/
/formularios/build/
/Ventanas/nbproject/private/
/Ventanas/build/
/Dibujo/nbproject/private/
/Dibujo/build/
/Radix/build/
/Painterpreter/nbproject/private/
/Painterpreter/build/
/CocoBotones/nbproject/private/
/CocoBotones/build/
/jessica/Interprete/nbproject/private/
/jessica/Interprete/build/
/jessica/Interprete/dist/
/jessica/Cena/nbproject/private/
/jessica/Cena/build/
/CalculadoraImaginarios/nbproject/private/
/CalculadoraImaginarios/build/
/jessica/CalculadoreaImaginarios2/nbproject/private/
/jessica/CalculadoreaImaginarios2/build/