/CadenasFracciones/build/
/CadenasFracciones/dist/
/interfaces/nbproject/private/
/Radix/nbproject/private/
/interfaces/build/
/formularios/nbproject/private/
/formularios/build/
/Ventanas/nbproject/private/
/Ventanas/build/
/Dibujo/nbproject/private/
/Dibujo/build/